tr:nth-child(even) {
  background-color: cornsilk;
}

tr:nth-child(odd) {
  background-color: lightgoldenrodyellow;
}

tbody>tr:hover {
  background-color: lightblue;
  color: blueviolet;
  font-size: 20px;
  font-weight: 800;
}